<div class="side-nav">
  <div class="bottom-nav">
    <div class="nav-button" [class.active]="currentPage === 'page1'" (click)="navigateTo('page1')">
      <ion-icon name="home-outline"></ion-icon>
    </div>

    <div class="nav-button" [class.active]="currentPage === 'fraud-watch'" (click)="navigateTo('fraud-watch')">
      <ion-icon name="eye-outline"></ion-icon>
    </div>

    <div class="nav-button" [class.active]="currentPage === 'typhoonsafe'" (click)="navigateTo('typhoonsafe')">
      <ion-icon name="cloud-outline"></ion-icon>
    </div>

    <div class="nav-button" [class.active]="currentPage === 'cargo-match'" (click)="navigateTo('cargo-match')">
      <ion-icon name="car-outline"></ion-icon>
    </div>
  </div>
</div>
