<div class="side-nav">
  <div class="bottom-nav">
    <div class="nav-button" [class.active]="currentPage === 'page1'" (click)="navigateTo('page1')">
      <ion-icon name="home"></ion-icon>
    </div>

    <div class="nav-button" [class.active]="currentPage === 'fraud-watch'" (click)="navigateTo('fraud-watch')">
      <ion-icon name="eye"></ion-icon>
    </div>

    <div class="nav-button" [class.active]="currentPage === 'typhoonsafe'" (click)="navigateTo('typhoonsafe')">
      <ion-icon name="cloud"></ion-icon>
    </div>

    <div class="nav-button" [class.active]="currentPage === 'page4'" (click)="navigateTo('page4')">
      <ion-icon name="help-outline"></ion-icon>
    </div>

    <div class="nav-button" [class.active]="currentPage === 'page5'" (click)="navigateTo('page5')">
      <ion-icon name="heart"></ion-icon>
    </div>

    <div class="nav-button" [class.active]="currentPage === 'page6'" (click)="navigateTo('page6')">
      <ion-icon name="albums"></ion-icon>
    </div>
  </div>
</div>
