@import '~leaflet/dist/leaflet.css';

ion-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 10;

  ::ng-deep ion-toolbar {
    background-color: #cf8f2f !important;
    color: white !important;
  }

  ::ng-deep ion-title,
  ::ng-deep ion-buttons ion-button,
  ::ng-deep ion-buttons ion-icon {
    color: white !important;
  }
}

.header-logo {
  height: 40px;
  margin-left: 20%;
}

ion-title {
  margin-left: -8px;
}

/* Tabs Style */
.toggle-tabs {
  margin-top: 15px;
  margin-bottom: 16px;

  ion-segment {
    --background: #333; // background of the segment wrapper
    --indicator-color: transparent; // remove blue bottom line
  }
  
  ion-segment-button {
    --color: white; // default text color
    --background: #333; // unselected background
    --indicator-color: transparent;
    --border-radius: 12px;
    margin: 2px; 
    font-weight: 600;
  
    &.segment-button-checked {
      --color: #333;
      --background: #cf8f2f;
    }
  }
  
  
}

/* Map container */
.map-box {
  height: 320px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.leaflet-map {
  height: 100%;
  width: 100%;
}

/* Route label */
.map-label {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 6px 14px;
  font-size: 13px;
  color: #fff;
  border-radius: 30px;
  font-weight: 500;
  z-index: 999;
}

/* Hide Leaflet zoom and attribution controls */
.leaflet-control-zoom,
.leaflet-control-attribution {
  display: none;
}

.route-info-card {
  margin: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);

  ion-card-title {
    color: #cf8f2f;
    font-size: 16px;
    font-weight: bold;
  }

  ion-card-content p {
    font-size: 14px;
    margin: 4px 0;
  }
}


.package-dropdown {
  margin-top: 50px;
  margin-bottom: 0; // removed space below
  padding: 0 16px 0 16px;

  ion-label {
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 4px;
    padding-left: 4px;
    opacity: 0.85;
  }

  ion-select {
    --background: #2a2a2a;
    --color: #ffffff;
    --placeholder-color: #cccccc;
    --padding-start: 14px;
    --padding-end: 14px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #555;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;

    &:focus {
      border-color: #cf8f2f;
      box-shadow: 0 0 0 2px rgba(207, 143, 47, 0.4);
    }
  }
}

