:host {
  --ion-background-color: #202020;
  --ion-text-color: #ffffff;
}

ion-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 10;

  ::ng-deep ion-toolbar {
    background-color: #cf8f2f !important;
    color: white !important;
  }

  ::ng-deep ion-title,
  ::ng-deep ion-buttons ion-button,
  ::ng-deep ion-buttons ion-icon {
    color: white !important;
  }
}

.header-logo {
  height: 40px;
  width: auto;
  margin-right: 1px;
  margin-left: 20%;
  display: flex;
  align-items: center;
}

ion-title {
  margin-left: -8px;
}

.content-with-header {
  padding-top: 80px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
}

ion-content {
  background-color: #202020;
  color: white;
}

ion-item {
  --background: #2c2c2c;
  --color: white;
  margin-bottom: 12px;
  border-radius: 8px;
}

ion-label,
ion-input,
ion-select,
ion-select-option {
  color: white;
}

ion-select::part(icon) {
  color: white;
}

.driver{
  padding-top: 40px;

}

ion-button {
  --border-radius: 12px;
  font-weight: bold;
  margin-top: 16px;
}

ion-button[color="primary"] {
  --background: #cf8f2f;
  --color: #ffffff;
}

ion-button[fill="outline"] {
  --color: #cf8f2f;
  --border-color: #cf8f2f;
}

.listing-card {
  background: #2c2c2c;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  margin-bottom: 16px;

  ion-avatar {
    width: 100px; 
    height: 120px;
  }

  ion-avatar img {
    border-radius: 8px; 
    border: 2px solid #cf8f2f;
  }

  ion-card-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  ion-card-content {
    color: white;
    font-size: 14px;
  }
}
